<lib-extension-point
  extensionId="remote"
  [extensionData]="{ isPresentation: true }"
></lib-extension-point>
<div
  *ngIf="currentRouteIndex > -1"
  class="info-container"
  fxLayout="row"
  fxLayoutGap="1em"
>
  <div fxLayoutAlign="center">
    <p class="code">{{ joinUrl || (shortId | splitShortId) }}</p>
  </div>
</div>
<app-bar-notification
  *ngIf="!isLoading && isActiveFeature('series')"
  [message]="notificationMessage"
  [icon]="notificationIcon"
  [expanded]="barVisible"
  [hidden]="isCurrentContentPublished"
></app-bar-notification>
<div
  class="bar-container"
  (mouseenter)="toggleBarVisibility(true)"
  (mouseleave)="toggleBarVisibility(false)"
>
  <div
    class="bar bar-hidden"
    [ngClass]="{
      'bar-expanded': barVisible
    }"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div fxLayout="row" class="logo-container">
      <lib-extension-point
        extensionId="presentation-logo"
      ></lib-extension-point>
    </div>
    <div
      class="action-container"
      fxFill
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="row" class="nav-container">
        <div
          matRipple
          role="button"
          class="nav-button"
          *ngFor="let barItem of barItems; let i = index"
          (click)="updateFeature(barItem.name)"
          [ngClass]="{ 'active-nav-button primary': i === currentRouteIndex }"
          fxLayout="column"
          fxLayoutAlign="center center"
          [matTooltip]="
            ('sidebar.' + barItem.name | translate) +
            ' (' +
            ('control-bar.key' | translate) +
            ' ' +
            barItem.key +
            ')'
          "
          [appHotkey]="barItem.key"
          [appHotkeyAction]="HotkeyAction.CLICK"
          [appHotkeyTitle]="'sidebar.' + barItem.name | translate"
        >
          <mat-icon class="nav-icon">{{ barItem.icon }}</mat-icon>
          <p class="text">{{ 'sidebar.' + barItem.name | translate }}</p>
        </div>
      </div>
      <div
        *ngIf="isActiveFeature('series')"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="feature-container no-padding"
      >
        <button
          *ngIf="contentGroups.length > 1"
          mat-button
          class="group-button full-height"
          [matMenuTriggerFor]="groupMenu"
          (menuOpened)="menuOpen = true"
          (menuClosed)="menuClosed()"
        >
          {{ groupName }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #groupMenu="matMenu">
          <button
            mat-menu-item
            fxLayoutAlign="space-between center"
            *ngFor="let contentGroup of contentGroups"
            [value]="contentGroup.name"
            [disabled]="contentGroup.contentIds?.length < 1"
            (click)="changeGroup(contentGroup)"
            [ngClass]="{
              'locked-group': !contentGroup.published
            }"
          >
            <span
              [ngClass]="{
                'selected-menu-item primary': contentGroup.name === groupName
              }"
              >{{ contentGroup.name }}</span
            >
            <mat-icon *ngIf="!contentGroup.published" class="locked-icon"
              >locked</mat-icon
            >
          </button>
        </mat-menu>
        <app-key-button-bar [items]="groupItems"></app-key-button-bar>
        <div
          matRipple
          role="button"
          fxLayout="column"
          fxLayoutAlign="center center"
          class="action-button more-button"
          #moreMenuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="moreMenu"
          (menuOpened)="menuOpen = true"
          (menuClosed)="menuClosed()"
          [matTooltip]="
            ('control-bar.' + moreItem.name | translate) +
            ' (' +
            moreItem.displayKey +
            ')'
          "
          [appHotkey]="moreItem.key"
          [appHotkeyAction]="HotkeyAction.CLICK"
          [appHotkeyTitle]="'control-bar.' + moreItem.name | translate"
        >
          <mat-icon class="nav-icon">{{ moreItem.icon }}</mat-icon>
          <p class="text">{{ 'control-bar.more' | translate }}</p>
        </div>
        <mat-menu #moreMenu="matMenu">
          <ng-container>
            <button
              mat-menu-item
              (click)="editContent()"
              attr.aria-label="{{ 'content.a11y-edit-content' | translate }}"
            >
              <mat-icon>edit</mat-icon>
              <span> {{ 'content.edit-content' | translate }}</span>
            </button>
            <mat-divider
              *ngIf="contentLoaded && hasFormatAnswer(content.format)"
            ></mat-divider>
            <button
              mat-menu-item
              *ngIf="contentLoaded && hasFormatAnswer(content.format)"
              (click)="deleteContentAnswers()"
              attr.aria-label="{{ 'content.a11y-delete-answers' | translate }}"
            >
              <mat-icon>clear_all</mat-icon>
              <span>{{ 'content.delete-answers' | translate }}</span>
            </button>
            <button mat-menu-item [routerLink]="'/account/preferences'">
              <mat-icon>settings_suggest</mat-icon>
              <span>{{ 'content.preferences' | translate }}</span>
            </button>
            <app-multiple-round-selection
              *ngIf="multipleRounds && contentLoaded"
              [standalone]="false"
              [round]="this.contentRounds.get(content.id)"
              (roundChanged)="changeRound($event)"
            >
            </app-multiple-round-selection>
            <app-start-new-round
              *ngIf="contentLoaded && hasFormatRounds(content.format)"
              [content]="content"
              [resetEvent]="resetAnswerEvent"
              (roundStarted)="afterRoundStarted($event)"
            >
            </app-start-new-round>
          </ng-container>
        </mat-menu>
        <div class="bar-divider"></div>
        <app-key-button-bar
          [items]="arrowItems"
          [withText]="false"
        ></app-key-button-bar>
      </div>
      <div
        *ngIf="isActiveFeature('comments')"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="feature-container no-padding"
      >
        <button
          mat-button
          class="full-height"
          [matMenuTriggerFor]="sortMenu"
          (menuOpened)="menuOpen = true"
          (menuClosed)="menuClosed()"
        >
          {{ 'control-bar.comment-sort-' + currentCommentSort | translate }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #sortMenu="matMenu">
          <button
            mat-menu-item
            *ngFor="let sort of commentSortTypes"
            [value]="currentCommentSort"
            (click)="changeCommentSort(sort)"
            [ngClass]="{ 'selected-menu-item': sort === currentCommentSort }"
          >
            {{ 'control-bar.comment-sort-' + sort | translate }}
          </button>
        </mat-menu>
        <div fxLayout="row">
          <app-key-button-bar
            [items]="zoomItems.slice(1, 2)"
            [withText]="false"
          ></app-key-button-bar>
          <p>{{ currentCommentZoom }}%</p>
          <app-key-button-bar
            [items]="zoomItems.slice(0, 1)"
            [withText]="false"
          ></app-key-button-bar>
        </div>
        <div class="bar-divider"></div>
        <app-key-button-bar
          [items]="arrowItems"
          [withText]="false"
        ></app-key-button-bar>
      </div>
      <app-key-button-bar
        *ngIf="isActiveFeature('feedback')"
        [items]="surveyItems"
      ></app-key-button-bar>
      <div fxLayout="row">
        <div fxLayout="row" class="feature-container icon-container">
          <app-key-button-bar
            [items]="generalItems"
            [withText]="false"
          ></app-key-button-bar>
        </div>
      </div>
    </div>
  </div>
</div>
