@import '../../presentation/bars/control-bar/control-bar.component';

.mat-mdc-card {
  margin: 5px;
}

.presentation-card {
  max-width: 640px;
  margin-bottom: $bar-height;
}

.scalable {
  transform-origin: 0 0;
  max-width: 610px;
  transition: transform 300ms;
  transform: scale(1);
  position: absolute;
}
