<div mat-dialog-content tabindex="0">
  <h3>{{ data.section + data.headerLabel | translate }}</h3>
  <p>{{ data.section + data.body | translate }}</p>
  <p *ngIf="data.bodyElement">
    <strong>{{ data.bodyElement }}</strong>
  </p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button
    mat-button
    aria-labelledby="cancel"
    (click)="closeDialog(data.abortLabel)"
  >
    {{ data.section + data.abortLabel | translate }}
  </button>
  <button
    mat-flat-button
    color="{{ data.type === 'button-primary' ? 'primary' : 'warn' }}"
    aria-labelledby="submit"
    (click)="closeDialog(data.confirmLabel)"
  >
    {{ data.section + data.confirmLabel | translate }}
  </button>
  <div class="visually-hidden">
    <div id="cancel">
      {{ data.section + 'a11y-' + data.abortLabel | translate }}
    </div>
    <div id="submit">
      {{ data.section + 'a11y-' + data.confirmLabel | translate }}
    </div>
  </div>
</div>
