$graphic-size: 80px;
$icon-container-size: 40px;

.mat-mdc-card {
  margin-bottom: 4px;
}

@mixin header-text-base {
  margin: 0;
  opacity: 0.8;
  font-weight: bold;
}

.score-text {
  @include header-text-base;

  font-size: 18px;
}

.canvas-container {
  width: $graphic-size;
  height: $graphic-size;
  position: relative;
}

.graphic {
  width: $graphic-size;
  height: $graphic-size;
}

@media (max-width: 767px) {
  .header-container {
    align-items: center;
  }

  .header-text {
    @include header-text-base;

    font-size: 18px;
  }

  .header-text.small {
    display: none;
  }

  .canvas-container {
    margin: 1em 1em 1em 0.5em;
  }
}

@media (min-width: 768px) {
  .mat-mdc-card {
    padding-top: 2em;
  }

  .header-text {
    @include header-text-base;

    font-size: 24px;
  }

  .small {
    display: none;
  }

  .canvas-container {
    margin-right: 2em;
  }

  .header-container {
    margin: 0 1em 1em;
  }
}

.score-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.correct:not(.answered) {
  color: var(--green);
}

.wrong:not(.answered) {
  color: var(--red);
}

.answered {
  width: 16px;
  height: 16px;
  font-size: 16px;

  &:not(.primary) {
    color: var(--grey);
  }
}

.full-border {
  transition: all 150ms;
  border-radius: 4px;
  border: 1px solid var(--border);

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 3px var(--grey);
    border: 1px solid var(--surface);
  }
}

.icon-container {
  height: $icon-container-size;
  width: $icon-container-size;
}

.body {
  max-width: calc(100% - (#{$icon-container-size} + 16px));
}
