<form>
  <div
    mat-dialog-content
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
  >
    <mat-form-field appearance="outline">
      <mat-label>{{ 'dialog.content-group-name' | translate }}</mat-label>
      <input
        matInput
        id="name-input"
        class="input-block"
        type="text"
        maxlength="25"
        [(ngModel)]="name"
        name="contentGroupName"
        autocomplete="off"
        [placeholder]="'dialog.content-group-example' | translate"
      />
    </mat-form-field>
  </div>
  <div fxLayoutAlign="end">
    <div
      mat-dialog-actions
      fxLayout="row-reverse"
      fxLayoutAling="end"
      fxLayoutGap="10px"
    >
      <button (click)="addContentGroup()" mat-flat-button color="primary">
        {{ 'dialog.create-content-group' | translate }}
      </button>
      <button
        (click)="closeDialog()"
        aria-labelledby="cancel"
        mat-button
        type="button"
      >
        {{ 'dialog.cancel' | translate }}
      </button>
    </div>
  </div>
</form>
