@import '../bar-base';
@import '../../../../variables';

.badge {
  position: absolute;
  top: 0;
  right: -6px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: var(--warn);
  transform: scale(0);
  transition: all 200ms;
}

.button-icon {
  position: relative;
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
  overflow: visible;
}

.current {
  opacity: 1;
  font-weight: $font-weight-bold;
}

.item {
  user-select: none;
  border-radius: 0;
  height: auto !important;

  &:not(.current) {
    opacity: 0.7 !important;
    color: var(--on-surface);
  }

  .mat-icon {
    margin-right: 0;
  }
}

.show-news {
  transform: scale(1);
}

.menu-container {
  position: relative;
}

@media (max-width: 500px) {
  .item {
    padding: 8px 12px;
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (min-width: 1001px) {
  .text {
    display: none;
  }

  .item {
    padding: 24px;
  }

  .list {
    padding: 0.5em 0 1em;
    height: calc(100vh - $bar-height);
    top: 0;
    border-radius: 0;
    border-right: 1px solid var(--grey-light);
  }

  #user-count-container {
    opacity: 0.65;
  }
}

@media (max-width: 1000px) {
  .nav {
    bottom: 0;
    width: 100vw;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 10%);
  }

  .icon-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }

  .item {
    width: 100%;
    line-height: unset;
  }

  .text {
    font-size: 12px;
    margin: 2px 0 0;
    max-width: calc(100vw / 3 - 16px);
    height: 14px;
    line-height: 14px;
    letter-spacing: 0;
  }

  #user-count-container {
    display: none !important;
  }

  @media (min-width: 501px) {
    .item {
      flex-direction: row;
      padding: 16px 12px;

      .mat-icon {
        margin-right: 16px;
      }
    }

    .button.icon {
      padding: 8px 16px;
    }
  }
}
