@import '../../../../variables';

form {
  width: 100%;
}

.format-name {
  line-height: 100%;
  font-weight: $font-weight-bold;
  height: 16px;
  font-size: 14px;
  text-align: start;
  margin-top: 8px;
  color: var(--on-dialog);
}

.format-description {
  white-space: normal;
  line-height: 16px;
  font-size: 14px;
  margin: 4px 0 8px;
  color: var(--on-dialog);
}

.format-icon {
  align-self: center;
}

.format-button-icon {
  margin-bottom: 2px;
}

.mat-mdc-card {
  overflow: hidden;
}

.top-space {
  margin-top: 16px;
}

.header-container {
  padding-bottom: 0.5em;
}
