<mat-form-field appearance="outline" class="initial-width">
  <mat-label>{{ 'content.max-keywords' | translate }}</mat-label>
  <input matInput type="number" min="1" max="10" [(ngModel)]="maxAnswers" />
</mat-form-field>
