@import '../../../../variables';

.mat-toolbar {
  background-color: var(--surface);
  position: relative;
  z-index: 2;
}

.header-icons {
  color: var(--on-surface);
}

.user-button {
  color: var(--black);
  margin-right: 0;

  span {
    font-size: 16px;
    font-weight: $font-weight-bold;
  }

  .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
}

.guest {
  background-color: var(--grey-light);
}

.item-title {
  line-height: 100%;
}

.lang-title {
  text-align: center;
}

.desktop-action-container {
  height: 36px;
  margin-right: 16px;
}

.mobile-action-container {
  margin-right: 8px;
}

@media (max-width: 1000px) {
  .desktop-action-container {
    display: none !important;
  }
}

@media (min-width: 1001px) {
  .mobile-action-container {
    display: none;
  }
}

.back-to-edit {
  opacity: 1;
}

.mat-mdc-icon-button .mat-icon {
  opacity: 0.8;
}
