@import '../statistic-content';

.correct-icon {
  transition: opacity 300ms;
  opacity: 0;
  color: var(--green);
}

.show-correct-icon {
  opacity: 1;
}

.button-container {
  position: absolute;
  top: 16px;
  right: 16px;
}

.fix-width {
  width: 80px;
}

.no-margin {
  margin: 0;
}

.chart-answer-label {
  font-size: 10px;
  width: 100px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.not-correct {
  opacity: 0.7;
}
