<app-admin-page-header
  headerText="user-management"
  [buttonText]="addButtonText"
  buttonIcon="add"
  (buttonClicked)="addAccount()"
>
</app-admin-page-header>

<app-search-bar
  label="{{ 'admin-area.search-account-with-id' | translate }}"
  [results]="searchResults"
  (inputChanged)="search($event)"
  (inputCleared)="clear()"
  (itemSelected)="getUser($event)"
></app-search-bar>

<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<mat-card
  appearance="outlined"
  *ngIf="user && !isLoading"
  fxLayout="column"
  fxLayoutGap="16px"
>
  <app-entity-properties [entity]="user"></app-entity-properties>
  <div fxLayoutAlign="space-between">
    <button mat-stroked-button color="warn" (click)="deleteEntity()">
      <mat-icon>delete</mat-icon>
      {{ 'admin-area.delete-user' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="user.account?.activated"
      (click)="activateUser()"
    >
      <mat-icon>lock_open</mat-icon>
      {{ 'admin-area.activate-user' | translate }}
    </button>
  </div>
</mat-card>
