<div fxLayout="column" class="admin-container">
  <div fxLayout="row" fxFill>
    <mat-drawer-container fxFill>
      <mat-drawer mode="side" opened>
        <div fxLayout="row" fxLayoutAlign="start" class="title">
          <lib-extension-point
            extensionId="app-logo"
            [extensionData]="{ height: '36px' }"
          >
            <h2>{{ 'admin-area.title' | translate }}</h2>
          </lib-extension-point>
        </div>
        <p class="section-header">{{ 'admin-area.general' | translate }}</p>
        <div class="button-container" fxLayout="column" fxLayoutGap="8px">
          <button
            mat-button
            class="nav-button"
            (click)="changePage('stats')"
            color="{{ currentPage === 'stats' ? 'primary' : '' }}"
            [ngClass]="{ 'primary-variant': currentPage === 'stats' }"
          >
            <mat-icon>insights</mat-icon>
            {{ 'admin-area.system-stats' | translate }}
          </button>
          <button
            mat-button
            class="nav-button"
            (click)="changePage('users')"
            color="{{ currentPage === 'users' ? 'primary' : '' }}"
            [ngClass]="{ 'primary-variant': currentPage === 'users' }"
          >
            <mat-icon>people</mat-icon>
            {{ 'admin-area.user-management' | translate }}
          </button>
          <button
            mat-button
            class="nav-button"
            (click)="changePage('rooms')"
            color="{{ currentPage === 'rooms' ? 'primary' : '' }}"
            [ngClass]="{ 'primary-variant': currentPage === 'rooms' }"
          >
            <mat-icon>room_preferences</mat-icon>
            {{ 'admin-area.room-management' | translate }}
          </button>
          <button
            *ngIf="(healthInfo | async)?.details"
            mat-button
            class="nav-button"
            (click)="changePage('status')"
            color="{{ currentPage === 'status' ? 'primary' : '' }}"
            [ngClass]="{ 'primary-variant': currentPage === 'status' }"
          >
            <mat-icon>dns</mat-icon>
            {{ 'admin-area.status-details' | translate }}
          </button>
        </div>
        <lib-extension-point
          extensionId="premium-admin"
          [extensionData]="{ pageChanged: pageChanged }"
          (extensionEvent)="changePage($event)"
        ></lib-extension-point>
      </mat-drawer>
      <mat-drawer-content fxLayout="column">
        <app-admin-summary-bar
          [healthInfo]="healthInfo"
        ></app-admin-summary-bar>
        <div class="routing-container">
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
