@import '../../../variables';

.list {
  position: fixed;
  background: var(--surface);
  transition-property: opacity, box-shadow;
  transition-duration: 300ms;
  opacity: 1;
  z-index: 1;
}

.left {
  left: 0;
  border-left: none !important;
}

.right {
  right: 0;
  border-right: none !important;
}

.hidden {
  height: 0;
  opacity: 0;
}

.icon-container {
  display: flex;
}

.presentation-mode {
  background-color: var(--surface);
  border: 2px solid var(--grey);
}

@media (min-width: 1001px) {
  .icon-container {
    flex-direction: column;
  }

  .left {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .right {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .list {
    top: $app-padding;
    position: absolute;
  }

  .presentation-mode {
    top: $app-padding;
  }

  .fixed {
    position: fixed;
    top: $app-padding;
  }
}
