@import '../../../../variables';

span {
  font-size: 14px;
}

.done {
  color: var(--green);
  font-weight: $font-weight-extra-bold;
}

.close {
  color: var(--warn);
  font-weight: $font-weight-extra-bold;
}

.warning {
  color: var(--warn-soft);
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(
    --mdc-snackbar-supporting-text-color
  );
}
