@import '../bar-base';
@import '../../../../variables';

.left {
  top: unset;
  bottom: 4vw;
}

.icon {
  opacity: 0.8;
  margin: 8px 32px 0 16px;
}

.count {
  color: var(--on-surface);
  opacity: 0.8;
  min-width: 30px;
  text-align: center;
  font-size: 24px;
  margin: 10px;
  padding: 4px;
}

@media (max-width: 1000px) {
  .info {
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
}
