.answer {
  width: 100%;
  background-color: var(--alt-surface);
  color: var(--on-surface);
}

.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  margin-top: 3%;
}

.mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.edit-icon {
  margin-right: 5px;
}

.mat-mdc-form-field {
  margin-top: 1em;
}

.exit-icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
}
