@import '../../shared/room-overview/room-overview.component';

.mat-mdc-card-content {
  margin-bottom: 0;
}

.empty-group-container {
  align-items: center;
  justify-content: center;

  .add-group {
    margin-bottom: 1em;
  }
}
