<div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center">
  <mat-icon fxFlex="noshrink" class="{{ hint.class }}">{{
    hint.icon
  }}</mat-icon>
  <p class="smaller-text">{{ text | translate }}</p>
</div>
