@import '../../../../variables';

.container {
  height: 100%;
  width: calc(100% - 40px);
}

.outer {
  padding: 0 0.5em 0 1em;
}

.inner {
  outline: none;
  height: 60px;
}

.account-memberships {
  .inner {
    cursor: pointer;
  }
}

.short-id {
  white-space: nowrap;
}

.alt-button {
  margin-bottom: 2.5em;
}

@media (max-width: 500px) {
  .rooms-from-guest {
    .role,
    .short-id {
      display: none;
    }
  }
}

.header-container {
  margin-bottom: 0.5em;
}

.search-container {
  position: relative;
}

.search-icon {
  color: var(--grey);
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 20px;
  top: 8px;
  left: 10px;
  opacity: 0.8;
}

.search-input {
  height: 36px;
  padding: 0 0 0 40px;
  margin: 0;
  border: 1px solid var(--grey);
  background-color: var(--surface);
  border-radius: 4px;

  &::placeholder {
    color: var(--on-surface);
  }
}

@media (max-width: 599px) {
  .desktop-buttons {
    display: none;
  }

  .header-container {
    flex-direction: row-reverse !important;
  }

  .search-input {
    font-size: 12px;
    width: 130px;
  }

  .full-width-search {
    width: calc(100% - 42px);
  }

  .full-width-container {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .mobile-buttons {
    display: none;
  }

  .search-input {
    font-size: 14px;
    width: 150px;
  }
}

.button-container {
  height: 36px;
}

.mat-mdc-outlined-button {
  height: 36px;
}

@media (min-width: 600px) {
  .active-label {
    padding: 2px 6px;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;

    span {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: $font-weight-bold;
    }

    animation: primary-border-lightning 2s infinite;
  }
}

@media (max-width: 599px) {
  .active-label * {
    display: none;
  }
}
