<div fxLayout="column" fxLayoutGap="16px">
  <app-hint
    *ngIf="isGuest"
    [text]="'settings.disabled-for-guests'"
    [type]="'WARNING'"
  ></app-hint>
  <div tabindex="0" id="access-settings" class="visually-hidden">
    {{ 'settings.a11y-access' | translate }}
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
    class="form-container"
  >
    <mat-form-field
      class="input-block no-field-hint email-input"
      appearance="outline"
      fxFlex.gt-xs="50"
    >
      <mat-label>
        <ng-container *ngIf="loginIdIsEmail; else loginIdLabel">{{
          'settings.email' | translate
        }}</ng-container>
        <ng-template #loginIdLabel>{{
          'settings.login-id' | translate
        }}</ng-template>
      </mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="loginId"
        [formControl]="usernameFormControl"
      />
    </mat-form-field>

    <div fxFlex>
      <lib-extension-point
        *ngIf="!isLoading"
        extensionId="role-selection"
        [extensionData]="{ disabled: isGuest }"
        (extensionEvent)="updateSelectedRole($event)"
      >
        <mat-form-field
          class="role-select no-field-hint"
          appearance="outline"
          fxFill
        >
          <mat-label>{{ 'settings.role' | translate }}</mat-label>

          <mat-select
            [(ngModel)]="selectedRole"
            [disabled]="isGuest || roles.length === 1"
          >
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ 'settings.' + role.toLowerCase() | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </lib-extension-point>
    </div>

    <button
      [hidden]="canBeAdded()"
      mat-stroked-button
      color="primary"
      class="add-user-button"
      (click)="addModerator()"
      [disabled]="isGuest || !currentInputIsChecked || loginId.length === 0"
      id="add-button"
      appTrackInteraction="Room member role invited"
      [appTrackName]="selectedRole"
    >
      <mat-icon>mail</mat-icon>
      {{ 'settings.invite-user' | translate }}
    </button>
    <button
      [hidden]="!canBeAdded()"
      mat-raised-button
      color="primary"
      class="add-user-button"
      (click)="addModerator()"
      [disabled]="isGuest || !currentInputIsChecked || loginId.length === 0"
      id="invite-button"
      appTrackInteraction="Room member role assigned"
      [appTrackName]="selectedRole"
    >
      <mat-icon>add</mat-icon>
      {{ 'settings.add-user' | translate }}
    </button>
  </div>
  <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
  <p *ngIf="!isLoading && moderators.length === 0">
    {{ 'settings.no-users' | translate }}
  </p>
  <mat-list *ngIf="!isLoading && moderators.length > 0">
    <mat-list-item
      class="bottom-border"
      *ngFor="let moderator of moderators; index as i"
    >
      <div fxFill fxLayout="row wrap" fxLayoutAlign="space-between">
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
          <div
            class="user-character-container"
            fxLayoutAlign="center center"
            [ngClass]="{
              'role-moderator': moderator.role === UserRole.MODERATOR,
              'primary primary-variant': moderator.role === UserRole.OWNER,
              'secondary secondary-variant': moderator.role === UserRole.EDITOR
            }"
          >
            <p class="user-character">
              {{ moderator.loginId.toLocaleUpperCase().slice(0, 1) }}
            </p>
          </div>
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <p class="login-id" tabindex="0">
              {{ moderator.loginId }}
            </p>
            <mat-chip-listbox class="role-chip">
              <mat-chip-option selectable="false">{{
                'settings.' +
                  moderator.role.toLocaleString().toLocaleLowerCase()
                  | translate
              }}</mat-chip-option>
            </mat-chip-listbox>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button
            mat-icon-button
            color="warn"
            *ngIf="moderator.role !== UserRole.OWNER"
            class="close"
            (click)="openDeleteRoomDialog(moderator)"
            fxFlex
            attr.aria-label="{{
              'settings.a11y-delete-moderator'
                | translate : { loginId: moderator.loginId }
            }}"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<lib-extension-point
  extensionId="room-password-settings"
  [extensionData]="{ room: room }"
></lib-extension-point>
