@use '@angular/material' as mat;
@use '../app-theme';

$dark-primary: mat.define-palette(mat.$green-palette, 500);
$dark-accent: mat.define-palette(mat.$amber-palette, 400);
$dark-warn: mat.define-palette(mat.$red-palette, 900);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

.theme-dark {
  @include app-theme.theme($dark-theme);

  --primary-logo: #825df6;
  --secondary-logo: #4caf50;
  --logo-font: #ddd;
  --warn: #e57373;
  --warn-soft: #ffa726;
  --background: #141414;
  --surface: #1e1e1e;
  --dialog: #2d2d2d;
  --alt-surface: #323232;
  --on-background: #fcfcfc;
  --on-surface: #fcfcfc;
  --table-a: #424242;
  --table-b: #505050;
  --border: #595959;
  --unlocked: #004d40;
  --green: #43a047;
  --green-light: #e8f5e9;
  --red: #ff5722;
  --red-light: #ffccbc;
  --yellow: #fdd835;
  --yellow-light: #fff9c4;
  --blue: #3f51b5;
  --grey: #aaa;
  --grey-light: #444;
  --black: #000;
  --bar-blue: #027db9;
  --bar-yellow: #ffca28;
  --bar-teal: #4d8076;
  --bar-red: #e64a19;
  --bar-purple: #8e79ab;
  --bar-brown: #9f6b3f;
  --bar-green: #787b1d;
  --bar-pink: #eb0054;
  --likert-strongly-agree: #3f51b5;
  --likert-agree: #7986cb;
  --likert-neither: #e0e0e0;
  --likert-disagree: #ff8a65;
  --likert-strongly-disagree: #ff5722;
}
