<h3 tabindex="0" id="preview-header" aria-labelledby="header">
  {{
    (content.format !== 'FLASHCARD'
      ? 'content.preview'
      : 'content.flashcard-front'
    ) | translate
  }}
</h3>
<mat-card class="mat-elevation-z2">
  <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
  <app-rendered-text
    tabindex="0"
    [rawText]="content.body"
    [dynamic]="true"
    [markdownFeatureset]="markdownFeatureset"
    (rendered)="renderingFinished()"
  ></app-rendered-text>
  <lib-extension-point
    extensionId="attachment-list"
    [extensionData]="attachmentData"
  ></lib-extension-point>
  <app-content-choice-answer
    *ngIf="
      content.format === 'CHOICE' ||
      content.format === 'SCALE' ||
      content.format === 'BINARY'
    "
    [selectableAnswers]="selectableAnswers"
    [multipleAnswersAllowed]="multipleAnswers"
    [dynamicRendering]="content.format === 'CHOICE'"
  ></app-content-choice-answer>
  <app-content-sort-answer
    *ngIf="content.format === 'SORT'"
    [answerOptions]="answerOptions"
    [dynamicRendering]="true"
  ></app-content-sort-answer>
  <app-content-wordcloud-answer
    *ngIf="content.format === 'WORDCLOUD'"
    [words]="words"
  ></app-content-wordcloud-answer>
  <app-content-prioritization-answer
    *ngIf="content.format === 'PRIORITIZATION'"
    [answerOptions]="answerOptionsWithPoints"
    [assignablePoints]="content.assignablePoints"
  ></app-content-prioritization-answer>
  <app-content-text-answer
    *ngIf="content.format === 'TEXT'"
  ></app-content-text-answer>
</mat-card>
<div *ngIf="content.format === 'FLASHCARD'">
  <h3 aria-labelledby="back">{{ 'content.flashcard-back' | translate }}</h3>
  <mat-card class="mat-elevation-z2">
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <app-rendered-text
      [rawText]="content.additionalText"
      [dynamic]="true"
      [markdownFeatureset]="markdownFeatureset"
      (rendered)="renderingFinished()"
    >
    </app-rendered-text>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
  <button
    (click)="emitFlipEvent(false)"
    attr.aria-label="{{ 'content.a11y-leave-preview' | translate }}"
    mat-stroked-button
  >
    {{ 'content.back' | translate }}
  </button>
  <button
    (click)="emitFlipEvent(true)"
    attr.aria-label="{{ 'content.a11y-preview-submit' | translate }}"
    color="primary"
    mat-raised-button
  >
    {{ (isEditMode ? 'content.save' : 'content.create') | translate }}
  </button>
</div>

<div class="visually-hidden">
  <div id="header">{{ 'content.a11y-preview-header' | translate }}</div>
</div>
