@import '../../../variables';

.chart-container {
  transition: all 300ms;

  &:not(.no-bottom-margin) {
    margin-bottom: 1em;
  }
}

.normal-chart {
  height: 40vh;
  max-height: 500px;
}

.answer-item {
  background-color: var(--background);
  margin-bottom: 10px;
  border-radius: 4px;
  align-items: center;
  color: var(--on-surface);
  padding: 0 16px;
}

.all-animations {
  transition: 300ms;
}

.answer-label {
  font-size: 18px;
  font-weight: $font-weight-bold;
  margin-right: 12px;
}

.answer-text {
  font-size: 12px;
  font-weight: $font-weight-bold;
}

.correct {
  background-color: var(--surface);
  box-shadow: 0 0 6px var(--green);
}

.invisible {
  height: 0;
  opacity: 0;
}

.no-background,
.no-background > * {
  transition: box-shadow 300ms;
  background: transparent;
  min-height: 0;

  .mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}

.no-background.mat-mdc-list-item {
  margin-bottom: 4px;

  &:first-of-type {
    margin-top: 4px;
  }
}

.no-background .answer-label {
  margin: 8px 0;
  min-width: 18px;
  max-height: 18px;
  line-height: 18px;
  padding: 4px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--grey);
  transition: border-color 300ms;
  font-size: 12px;
}

.no-background.correct {
  .answer-label {
    border-color: transparent;
  }
}

.no-background p {
  margin: 0;
}

.presentation-chart {
  max-width: 650px;
  height: 28vh;
  max-height: 180px;
}

.chart {
  max-height: 100%;
  max-width: 100%;
}
