@use '@angular/material' as mat;

/* File for global styling variables */

// Font

$font-family: 'Roboto, "Helvetica Neue", sans-serif';
$font-weight-bold: 500;
$font-weight-extra-bold: 700;

// Positioning

$bar-height: 64px;
$mobile-bar-height: 56px;
$navigation-rail-width: 72px;

// Spaces

$app-padding: 4vw;
