<app-admin-page-header headerText="room-management"> </app-admin-page-header>

<app-search-bar
  label="{{ 'admin-area.search-room' | translate }}"
  [results]="searchResults"
  (inputChanged)="search($event)"
  (inputCleared)="clear()"
  (itemSelected)="showRoom($event)"
></app-search-bar>

<mat-card
  appearance="outlined"
  *ngIf="room"
  fxLayout="column"
  fxLayoutGap="16px"
>
  <app-entity-properties [entity]="room"></app-entity-properties>
  <div fxLayoutAlign="space-between">
    <button mat-stroked-button color="warn" (click)="deleteEntity()">
      <mat-icon>delete</mat-icon>
      {{ 'admin-area.delete-room' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="transferRoom()">
      <mat-icon>forward</mat-icon>
      {{ 'admin-area.transfer-room' | translate }}
    </button>
  </div>
</mat-card>
